<a href='/'>&lt; Home</a></Home>

<article>
    <h1><%- page.title %></h1>   
    <div class="content">
      <span class="header" style="color: #00a4a6">By <%- page.author %></span>
    </div>
    <%- page.content %>  

</article>

<a href='/'>&lt; Home</a></Home>